<div class="row">
 <section id ="main-visual">
 </section>
</div>

<div class="row">
  <div class="col-xs-6">
  	<table class="table">
  	 <tr>
  	  <td>image</td>
  	  <td><%= @user.name %></td>
  	  <td>いいね</td>
  	  <td><%= @user.accivement %></td>
  	 </tr>
  	 <tr>
  	  <td></td>
  	  <td>introduction</td>
  	 </tr>
  	</table>
  </div>
  <div class="col-xs-5">
  </div>
</div>
