<div class="container my-5">
  <div class="row">
    <div class="offset-1">
      <h3>本当に退会しますか？</h3>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-sm-12">
      <p>退会すると、会員登録情報やこれまでの投稿履歴が閲覧できなくなります。</p>
      <p>退会する場合は「退会する」を押してください。</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
    <%= link_to "退会しない" ,user_path(@user), class: "btn btn-outline-primary btn-block" %>
    </div>
    <div class="offset-md-2 col-md-3">
    <%= link_to "退会する" , switch_user_path(@user),method: :patch, class: "btn btn-danger btn-block" %>
    </div>

  </div>
</div>