<p class="status-text"><i class="fa fa-heart good-heart" aria-hidden="true"></i><%= post_image.likes.count %>
   <i class="fa fa-comment-o" aria-hidden="true"></i><%= post_image.image_comments.count%>
</p>
   