<div class="container">
 <div class="row mt-5">
     <div class="col-sm-6 justify-content-around"> 
        <%= render partial: 'layouts/flashes' %>

        <%= link_to "テーマ管理", admins_themes_path, class:"btn btn-info" %>
        <%= link_to "ユーザー管理", admins_user_dates_path, class:"btn btn-info" %>
        <%= link_to "投稿画像管理", admins_post_images_path, class:"btn btn-info" %>
     </div>
 </div>
</div>