<div class="admin-menu">
 <div class="row">
 <%= link_to "テーマ管理", admins_themes_path, class:"btn btn-default" %>
 <%= link_to "ユーザー管理", admins_user_dates_path, class:"btn btn-default" %>
 </div>
</div>