      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group mt-5">
          <%= f.hidden_field :email, value: "test@example.com"%>
          <%= f.hidden_field :password, value: "111111" %>
        </div>
        <div class="actions">
          <%= f.submit "お試しログインはこちら", class: "btn btn-info btn-block"%>
        </div>
      <% end %>