<div class="container pb-4">

  <div class="row">
   <div class="col-md-6">
   <%=link_to post_images_path do %>
   <%= image_tag 'sp-camera.jpg', class: 'img-fluid' %>
   <% end %>
   </div>
   <div class="col-md-6">
   <h1>About Start Pic</h1>
	  <p>これから写真を始める人たちへ。始めたい人たちへ<br>
	  	 写真を撮ることが身近になった今日この頃、ふと出掛けてみる。
		しかし自由だからこそ何を撮ればいいか迷ってしまうことありませんか？
		ましてや今を煌くインフルエンサーのように撮らないといけないような気もしてきて
		カッコよくお洒落を意識して画角なんて考え出したら「やっぱり違うかな・・・？」。
		誰でも簡単に始めることができるのに、趣味としては完成度の幅がありすぎてハードルが高い。
		「そんなこと気にしないで」という声もあるけど、そんなことが気になる人が結構多いと思いました。
		では何か目標があったらどうだろうか。きっかけさえあれば入り込めるのではないか。
		それを皆で共有できれば刺激ももらえて、趣味として続けることが出来るのではないか。
		そんな思いで、 StartPicをつくりました。
	  </p>
   </div>
  </div>

   <hr class="featurette-divider">
		<div class="container">
    			<div class="row">
				<div class="col-lg-4">
					<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"><title>一般的なプレースホルダ画像</title><rect fill="#777" width="100%" height="100%"/></svg>
					<h2>見出し</h2>
					<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					<p><a class="btn btn-secondary" href="#" role="button">詳細を見る &raquo;</a></p>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"><title>一般的なプレースホルダ画像</title><rect fill="#777" width="100%" height="100%"/></svg>
					<h2>見出し</h2>
					<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					<p><a class="btn btn-secondary" href="#" role="button">詳細を見る &raquo;</a></p>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"><title>一般的なプレースホルダ画像</title><rect fill="#777" width="100%" height="100%"/></svg>
					<h2>見出し</h2>
					<p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
					<p><a class="btn btn-secondary" href="#" role="button">詳細を見る &raquo;</a></p>
				</div><!-- /.col-lg-4 -->
			</div><!-- /.row -->
    </div>
