/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";


.navbar-expand-lg {
  background-color: #2f3131;
}
/* トップページ */
.jumbotron-extend {
  height : 600px;
  min-height : 300px;
  background-image: image-url("main.jpg");
  background-size: cover;
  background-position: center 60%;
}

.jumbotron-container {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.jumbotron-theme {
height : 350px;
min-height : 300px;
background-image: image-url("user_theme.jpg");
background-size: cover;
background-position: center 30%;
}

.jumbotron-post_image {
  height : 350px;
  min-height : 300px;
  background-image: image-url("post_image_index.jpg");
  background-size: cover;
  background-position: center 30%;
  opacity: 0.9;
}


.card{
  border: none;
  background-color: #fbf1e5;
}


// いいねボタン関連

.likes_button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  opacity: 0.8;
}

.good-heart {
  color: rgb(235, 157, 235);
  opacity: 0.8;
}

.no-heart {
  color: #616364;
}

.likes_status {
  position: absolute;
  bottom: 0px;
  left: 5px;
  display: none;
}


.status-text {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 0 20px;
}


.user_date {
  position: relative;
}


// 称号関連

.user_achivement {
  position: absolute;
  top: -20px;
  left: 65px;
}

.user_achivement-p {
  position: absolute;
  top: 5px;
  left: 10px;
  opacity: 0.8;
  display: none;
}

.achivement_name {
  font-style: italic;
}


// 投稿画像詳細画面
.image_box {
  position: relative;
  display: inline-block;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #fbf1e5;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #2f3131;
}
