// Place all the styles related to the users::home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.jumbotron {
    background-image: url("images/main.jpg");
    background-size: cover;
    background-position: center 60%;
  }